h1{
	color:brown;
	font-family:"Courier New" Courier, monospace;
	background-color:#FF6699;
	font-size:40px;
	border: 10px solid pink;
	border-color:#FFCCFF #FFCCFF #FFCCFF #FFCCFF; 
	


 
}
header{
	color:#99FFFF;
	font-family:"Courier New", Courier, monospace;
	background-color:#FF9999;
	font-size:50px;
	border:10px solid yellow;
	border-color:#580000 #33CCCC; 
	 


 	
}
main{
	font-family:"Comic Sans MS", cursive, sans-serif;
	background-color:purple;
	font-size:17px;
	border: 5px;
	border-style:dashed;
	border-color:pink;
	 

}
body{
	background-image: url(http://p1.pichost.me/i/53/1768884.jpg);
	
}


	





