h1{
	color:blue;
	font-family:"Courier New" Courier, monospace;
	background-color:#00FF00;
 
}
header{
	color:red;
	font-family:"Comic Sans MS", cursive, sans-serif;
	background-color:#33CC66;
	font-size:40px;
	width: 600px;
    height: 85px;
    border: 20px solid yellow;
	border-color:red green blue yellow; 

 	
}
main{
	color:black;
	font-family:"Comic Sans MS", cursive, sans-serif;
	background-color:#33CC66;
	width: 600px;
    height: 85px;
    border: 20px solid yellow;
	border-color:red green blue grey; 


	





