h1 {
	font-family:Impact, fantasy; 
	font-size: 45px;  
	font-weight: normal;
	font-style: italic;
	color:yellow;
	border-style:hidden; 
	background-color:purple;
	margin-bottom: 00px;
}
h2 {
	font-family:Impact, fantasy; 
	font-size: 15px;  
	font-weight: normal;
	color:blue;
	
	background-color:red;
	border-bottom: 10px dashed yellow;
	border-right-style: hidden;
  	border-left-style: hidden;
	margin-top:00px;
	margin-bottom: 20px;
}
h4 {
	font-family:Time New Roman Georgia, serif;
	font-size: 25px;  
	font-weight: normal;
	font-weight:bold;
	color:purple;
	border-style:hidden; 
	background-color:yellow;
	margin-bottom: 20px;
	margin-top:10px
	border-bottom: hidden;
border-top: 2px dashed purple;
	
}
h3 {
	font-family:Time New Roman Georgia, serif;
	font-size:  15px;  
	font-weight:bold;
	color:yellow;
	border-bottom:2px dashed yellow;
	border-top: hidden;
	border-right-style: hidden;
  	border-left-style: hidden;
	background-color:green;
	margin-bottom: 20px;
	margin-top:10px;
}
p {
	font-family:Time New Roman Georgia, serif;
	font-size:  11px;  
	font-weight: normal;
	color:blue;
	margin-bottom: 20px;
	margin-top:10px;
}
footer {
	color:blue;
	border-bottom:hidden;
	border-top: 3px dotted grey;
	border-right: 5px solid orange;
  	border-left: 5px solid orange; 
border-left-style:groove;
border-right-style:groove;
	
}
main { 
	border-bottom:hidden;
	border-top:hidden;
	border-left-style:groove;
	border-right-style:groove;
	border-left-color:red;
	border-right-color:blue;
	border-collapse:collapse;
	border-width:10px;
}
